<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro agenda de contactos</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/registro.css}" />
</head>
<body>
<div class="container">
    <h2 class="title">Introduce un nuevo registro</h2>
    <div class="register-content">
        <form id="formulario" th:action="@{/registro}" th:object="${persona}" method="post">
            <div class="block-img">
                <img th:src="@{/img/agendaIcon.png}" alt="Icono de agenda">
            </div>
            <div class="formGroup">
                <label for="name">Ingresa tu nombre completo</label>
                <input id="name" type="text" th:field="*{nombre}">
                <span class="error" th:if="${#fields.hasErrors('nombre') }" th:errorclass="error" th:errors="*{nombre}" ></span>
            </div>
            <div class="formGroup">
                <label for="tel">Ingresa tu telefono</label>
                <input id="tel" type="tel" th:field="*{telefono}">
                <span  class="error" th:if="${#fields.hasErrors('telefono')}" th:errorclass="error" th:errors="*{telefono}"></span>
                <span  class="error" th:if="${validacionTelefono == true }">El telefono ya se encuentra registrado</span>
            </div>
            <div class="formGroup buttons">
                <button type="submit">Agregar nuevo</button>
                <!--                <a class="btn" href="@{/listaAgenda}">Ver lista de contactos</a>-->
            </div>
        </form>
        <div class="options">
            <h3>Opciones</h3>
            <div class="list-options">
                <a class="option-item" th:if="${listaPersonas.size() > 0}" th:href="@{/lista}">
                    <img src="https://www.pngmart.com/files/21/Agenda-PNG-HD.png" alt="agenda de contactos icon">
                    Ver lista
                </a>
            </div>
        </div>
    </div>

    <div class="alert-success" th:if="${registro == true}">El usuario se ha registrado correctamente en su agenda</div>
</div>


</body>
</html>